---
// COMPs
import Link from "./Link.astro";

// LIB
import { Image } from "astro:assets";

// UTIL
import { slugify, formatDate } from "../js/utils";


// PROP
const { frontmatter, url, tagType } = Astro.props;
const Tag = tagType;
const { title, date, author, image, description, category } = frontmatter;
---
<article class="card">
    <small>
        <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <a href={url} tabindex="-1" aria-hidden="true">
        <Image
                src={image.src}
                alt={image.alt}
                width="400"
                height="250"
                format="webp"
                quality={80}
        />
    </a>
    <div class="content">
        <Tag class="h3">
            <a href={url}>{title}</a>
        </Tag>
        <div>
            <small>by <a href={`/author/${slugify(author)}/`}>{author}</a> • {formatDate(date)}</small>
        </div>
        <p>{description}</p>
        <Link href={url}
              text="Read Post"
              style="secondary"
        />
    </div>
</article>